div.mobile-menu
    ul.mobileNavigation
        li
            a(href='/' class=title=='Burgerholics'?'active':'')
                i.material-icons home
                span Burgerholics
        li
            a(href='/hungry-elephant' class=title=='Hungry Elephant'?'active':'')
                i.material-icons fastfood
                span Hungry Elephant
        li
            a(href='/elephant-gourmet' class=title=='Elephant Gourmet'?'active':'')
                i.material-icons star_border
                span Elephant Gourmet
        li
            a(href='/far-away-elephant' class=title=='Far Away Elephant'?'active':'')
                i.material-icons airplanemode_active
                span Far Away Elephant
        //li
        //    a(href='/hall-of-fame' class=title=='Hall of Fame'?'active':'')
        //        i.material-icons rate_review
        //        span Hall of Fame
        li
            a(href='/reviews' class=title=='Pending Reviews'?'active':'')
                i.material-icons rate_review
                span Pending Reviews
        li
            a(href='/statistics' class=title=='Statistics'?'active':'')
                i.material-icons view_list
                span Statistics
        li
            a.faq-button(href='/faq' class=title=='FAQ'?'active':'')
                i.material-icons question_answer
                span FAQ
